.movie-detail img {
    border: 5px solid black;
    width: 275px;
    height: 500px;
    object-fit: cover;
}

.movie-detail h2 {
    min-height: 50px;
}

.text {
    text-align: left;
    width: 50vw;
    margin-left: 20px;
}

.release-date {
    font-weight: bolder;
}

.movie-detail{
    display: flex;
}