 .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 5%;
}

.profile button {
    margin: 5px;
}

.profile img {
    width: 30px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.377);
}